@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700i,900i&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.styles_modal__gNwvD {
    background: linear-gradient(rgba(200, 200, 200, 0.85), rgba(200, 200, 200, 0.85)),
        url(../components/global/offer/modalBackground.jpeg) center/cover no-repeat;
    padding: 0;
}

.modal-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin: 2rem auto;
    background-color: #d2aa5c;
    transition: 0.3s all ease-in-out;
}

.modal-btn:hover {
    background-color: #000000;
    color: #ffffff;
}